
/* user styles */

/* styles are what change the color and sizes of stuff on your site. */

/* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */

:root {
    --header-image: url('/images/banners/banner1.png');
    --body-bg-image: url('/images/backgrounds/ss035.gif');

     /* colors */
  --content: var(--fourth-light2);

  --main-light1: #8197BC;
  --main-light2: #536E9C;
  --main-mid1: #355284;
  --main-mid2: #213E6F;
  --main-dark1: #0D2855;

  --second-light1: #9187C2;
  --second-light2: #6659A3;
  --second-mid1: #493A89;
  --second-mid2: #332574;
  --second-dark1: #1D1058;

  --third-light1: #FFEEA6;
  --third-light2: #ECD472;
  --third-mid1: #C7AD44;
  --third-mid2: #A88F26;
  --third-dark1: #806909;

  --fourth-light1: #FFDFA6;
  --fourth-light2: #ECC072;
  --fourth-mid1: #C79844;
  --fourth-mid2: #A87926;
  --fourth-dark1: #805509;
}

/* Colors! OLD
lightest
9785C1
6D57A1
503888
3B2373
250F58
*/


@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #08031A;
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 150px;
    color: #fceaff;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

/* below this line is CSS for the layout */

/* this is a CSS comment
    to uncomment a line of CSS, remove the * and the /
    before and after the text */


/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
    the other elements, you will need to move that div outside
    of the container */
#container {
    max-width: 900px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

/* the area below is for all links on your page
    EXCEPT for the navigation */
#container a {
    color: #bda6fd;
    font-weight: bold;
    /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
}
#credits-main a{
    color: black;
}
#credits-main embed{
    width: 50%;
    height: 600px;

}
#guest-book{

}

#header {
    width: 100%;
    background-color: #1e1435;
    /* header color here! */
    height: 150px;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
      you can add them directly to the <div id="header"></div> element! */
    background-image: var(--header-image);
    background-size: 100%;
}

/* navigation section!! */
.topbar {
    height: 40px;
    background-color: var(--main-mid1);
    /* navbar color */
    width: 100%;
    z-index: 99;
    align-items: center;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

/* navigation links*/
.topbar a {
    color: white;
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
.topbar a:hover {
    color: #a49cba;
    text-decoration: underline;
}	

#flex {
    display: flex;
    
}


#rightSidebar {
    order: 2;
    
}

#rightSidebar article {
    width: 200px;
    padding: 10px;
    font-size: smaller;
    margin-top: 10px;
    background-color: var(--main-mid2);
    border-color: #000000;
    border-radius: 10px;
    border-width: 4px;
    border-style:double;
}

#rightSidebar h2 {
    background-color: var(--main-dark1);
    border-radius: 20px;
    text-align: center;

}

#list-links ul {
    margin: 0;
    padding: 0;
}

#list-item-steam {
    list-style: none;
    list-style-image: url('/images/icons/steam10x10.png');
}
#list-item-yt{
    list-style: none;
    list-style-image: url('/images/icons/yt10x10.png');
}
#list-item-bsky{
    list-style: none;
    list-style-image: url('/images/icons/bsky10x10.png');
}

#other p{
    text-align: center;
}
/* this is the color of the main content area,
    between the sidebars! */
main {
    /*background-color: #2d2b77;*/
    flex: 1;
    order: 1;
    margin-top: 0px;
}

article {
    margin-top: 10px;
    background-color: var(--main-light2);
    flex: 1;
    padding: 20px;
    border-color: #08031A;
    border-radius: 10px;
    border-width: 4px;
    border-style:double;
}

#first-box {
    height: 300px;
}

#updates p{
    line-height: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--main-dark1);
}

#updates .scrollable {
    overflow-y: scroll;
    height: 250px;
}
/* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */




footer {
    background-color: var(--main-mid1);
    /* background color for footer */
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
    border-color: #08031A;
    border-radius: 10px;
    border-width: 4px;
    border-style:double;
}

h1,
h2,
h3 {
    color: var();
            }

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #f5df64;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }