:root {

     /* colors */
  --content: var();

  --main-light1: #8197BC;
  --main-light2: #536E9C;
  --main-mid1: #355284;
  --main-mid2: #213E6F;
  --main-dark1: #0D2855;

}


@font-face {
    font-family: intel one;
    src: url('/fonts/intelonemono/IntelOneMono-Regular.ttf');
}

@font-face {
    font-family: intel one;
    src: url('/fonts/intelonemono/IntelOneMono-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: intel one;
    src: url('/fonts/intelonemono/IntelOneMono-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: intel one;
    src: url('/fonts/intelonemono/IntelOneMono-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}


body {
    font-family: 'intel one', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}


* {
    box-sizing: border-box;
}


#header {
    background-image: none;
    background-color: gray;
    height: 100px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

}


#eye1 {
    height: 100px;
}


#container {
    max-width: 900px;
    margin: 0 auto;
}


#flex {
    display: flex;
    flex-direction: column;
    
}

main {
    order: 1;
    height: auto;
    width: 100%;
    background-color: black;
    border-color: red;
    border-radius: 0px 0px 12px 12px;
    border-width: 4px;
    border-style: inset;
    color: white;
}

main a {
    color: red;
    text-decoration: none;
}

main a:hover {
    color: green;
}

.content {
    padding: 20px;
    height: auto;
}

footer {
    color: white;
}